<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="todoItem"></label>
            <input type="text" #todoItem name="todoItem" id="todoItem" class="form-control">
        </div>
        <button type="button" (click)="ontodoAdd()" class="btn btn-info-primary btn-outline-dark btn-block" >Add Todo</button>
    </div>
    <div class="col-md-6">
        <ul *ngIf="todoArray.length > 0; else notodo" class="list-group">
          <li *ngFor="let todo of todoArray" class="list-group-item">{{todo.todoItem}}</li>
        </ul>

    <ng-template #notodo>
        <p class="alert alert-danger">
            No todoitem Added Yet!!!!!!!!!!!!
        </p>
    </ng-template>


    </div>
</div>
